@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");

/* ==========================================================================
   Variables
   ========================================================================== */

@black: #000;
@white: #fff;

@openSans:  'Open Sans', sans-serif;

/* ==========================================================================
   Mixins
   ========================================================================== */

// Box sizing
.box-sizing(@boxmodel) {
    -webkit-box-sizing: @boxmodel;
    -moz-box-sizing: @boxmodel;
    box-sizing: @boxmodel;
}
// Background size
.background-size(@size) {
    -webkit-background-size: @size;
    -moz-background-size: @size;
    -o-background-size: @size;
    background-size: @size;
}
// Opacity
.opacity(@opacity) {
    opacity: @opacity / 100;
    filter: ~"alpha(opacity=@{opacity})";
}

// Border Radius
.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

// Single Corner Border Radius
.border-top-left-radius(@radius) {
    -webkit-border-top-left-radius: @radius;
    -moz-border-radius-topleft: @radius;
    border-top-left-radius: @radius;
}
.border-top-right-radius(@radius) {
    -webkit-border-top-right-radius: @radius;
    -moz-border-radius-topright: @radius;
    border-top-right-radius: @radius;
}
.border-bottom-right-radius(@radius) {
    -webkit-border-bottom-right-radius: @radius;
    -moz-border-radius-bottomright: @radius;
    border-bottom-right-radius: @radius;
}
.border-bottom-left-radius(@radius) {
    -webkit-border-bottom-left-radius: @radius;
    -moz-border-radius-bottomleft: @radius;
    border-bottom-left-radius: @radius;
}

// Single Side Border Radius
.border-top-radius(@radius) {
    .border-top-right-radius(@radius);
    .border-top-left-radius(@radius);
}
.border-right-radius(@radius) {
    .border-top-right-radius(@radius);
    .border-bottom-right-radius(@radius);
}
.border-bottom-radius(@radius) {
    .border-bottom-right-radius(@radius);
    .border-bottom-left-radius(@radius);
}
.border-left-radius(@radius) {
    .border-top-left-radius(@radius);
    .border-bottom-left-radius(@radius);
}

// Drop shadows
.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    box-shadow: @shadow;
}

/* ==========================================================================
   Globals
   ========================================================================== */

// Using border-box by default
*, *:before, *:after {
    .box-sizing(border-box);
    zoom: 1;
    *behavior: url(/bundles/photolorentsite/htc/boxsizing.htc);
}
html {
    height: 100%;
    font-size: 100%;
}
body {
    position: relative;
    height: 100%;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    background-color: @black;
    color: @white;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}
a {
    color: @white;
    text-decoration: none;
}
.container {
    height: 100%;
    .logo {
        .box-sizing(content-box);
        position: absolute;
        top: 5%;
        right: 0;
        background: @black url(../images/logo.png) no-repeat left top;
        width: 176px;
        height: 65px;
        text-indent: -10000em;
        margin: 0 2% 0 0;
        border: 10px solid @black;
        z-index: 1000;
        .opacity(80);
        a {
            display: block;
        }
        &:hover {
            .opacity(30);
        }
    }
    .slider {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space:nowrap;
        height: 100%;
        .slide {
            height: 100%;
            display:inline-block;
            *display:inline;/* For IE7*/
            *zoom:1;/* For IE7*/
            vertical-align:top;
        }
        .portrait {
            white-space: normal;
            width: 35%;
            padding: 10% 5%;
            min-width: 250px;
            background: transparent url(../images/lorent.jpg) no-repeat left top;
            overflow: hidden;
            text-overflow: ellipsis;
            letter-spacing: 1.5px;
            .background-size(cover);
            .opacity(90);
            p {
                background: rgba(0, 0, 0, .5);
                padding: 15px;
            }
        }
    }
    .menu {
        position: absolute;
        z-index: 10000;
        bottom: 0;
        right: 0;
        background-color: @black;
        overflow: hidden;
        width: 45%;
        .border-top-left-radius(15px);
        .opacity(90);
        ul {
            width: 90%;
            margin: 0 auto;
            padding: 0;
            list-style: none;
            li {
                float: left;
                margin: 0 2% 0 0;
                padding: 2%;
                a {
                    .opacity(60);
                    &:hover {
                        .opacity(100);
                    }
                }
            }
        }
    }
}

.sight {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 297px;
    margin: -147px 0 0 -250px;
    background: transparent url(../images/sight.png) no-repeat center center;
    z-index: 100;
    .opacity(20);
    .background-size(cover);
}
.objective {
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    background-color: #000;
    z-index: 1000;
}
.objective-top {
    top: 0;

}
.objective-bottom {
    bottom: 0;
}