{% extends "PhotolorentSiteBundle:Default:base.html.twig" %}
{% set body_class = 'wedding' %}
{% block portrait %}
    <p>PhotoLorent depuis la capitale de l'Europe, apporte le talent créatif de Lorent et d'autres photographes chevronnés afin d' "écrire avec la lumière".</p>
    <p>Leur habilité sert à élaborer des histoires photographiques  et à faire revivre vos souvenirs en photos. Qu'il s'agisse de futurs mariés, de seniors, d'une réunion de famille, d'un 50e anniversaire ou d'athlètes en course sous la chaleur de la concurrence, ce sont des histoires que nous racontons.</p>
    <p>Partagez votre vie avec nous et laissez-nous raconter l'histoire de ce moment!</p>
{% endblock portrait %}
